---
// Redirect zu statischer HTML-Seite im public/ Ordner
export const prerender = true;
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/demos/space-shooter-game/index.html">
  <script>window.location.href='/demos/space-shooter-game/index.html';</script>
</head>
<body>Weiterleitung...</body>
</html>
